.footer__column-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #f2f2f2;
  display: flex;
  transition-duration: 0.75s;
  display: inline-block;
}

.footer__column-link:hover {
  opacity: 0.5;
}
