.footer__column-links {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #f2f2f2;
  display: flex;
  transition-duration: 0.75s;
  width: 93.7px;
}

.footer__column-links:hover {
  opacity: 0.5;
}

.footer__column-links:last-child {
  margin-bottom: 16px;
}
