h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Header */
.header {
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  margin-bottom: 100px;
  /* parameters for the header section */
}

.logo__header {
  width: 154px;
  height: 31px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  max-width: 730px;
  display: flex;
  margin: auto;
  margin-left: 64px;
  z-index: 9;
}

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 8;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

/* Description Block */
.description {
  /* padding-top: 100px; */
  max-height: 600px;
}

.two-columns {
  min-width: 784px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  padding-bottom: 30px;
}

.two-columns__paragraph:last-child {
  padding-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

/* Digits Block */

.digits {
  max-height: 600px;
  padding: 0;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title {
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}

.table {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  margin-top: 20px;
}

/* Feynman Block */
.feynman {
  background-color: #f2f2f2;
  height: 790px;
  position: relative;
  background-image: url('../images/feynman.png');
  background-repeat: no-repeat;
  background-position: bottom left;
  padding-top: 100px;
  left: 0;
  bottom: 0;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 775px;
  margin: 0 auto;
  padding-bottom: 0;
  text-align: center;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 70px;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #000;
}

.feynman__image {
  width: 867px;
  height: 637px;
}

/* Kaufman Block */
.kaufman {
  background-color: #1f1f1f;
  margin: 0;
  padding: 90px 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
  max-height: 600px;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: #f2f2f2;
}

.kaufman__triangle {
  background-image: url('../images/kaufman-triangle.svg');
  background-size: contain;
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: -1;
}

.table_theme_dark {
  margin-bottom: 90px;
  margin-bottom: 0;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}

.table__heading_theme_dark {
  color: #f2f2f2;
}

.table__text_theme_dark {
  color: #f2f2f2;
}

/* Footer Block */

/* Once adding a font size to heading or links and set up size to img, some extra spaces is displayed, and is always extra px on font size, why?  please help */
.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  width: 90%;
  margin: auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
}

.logo__place_footer {
  margin: 0;
  padding-top: 0;
  width: 183px;
  height: 35px;
}

.footer__author {
  color: #f2f2f2;
  list-style: none;
  margin: 16px 0;
  padding: 0;
}

.footer__column_content_info {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__column_content_social {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__column-heading {
  color: white;
  line-height: 45px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  /* border: 1px solid red; */
}

.footer__column-links {
  color: #f2f2f2;
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  margin-bottom: 16px;
  display: flex;
  /* border: 1px solid red; */
}

.footer__column_social-icon {
  padding-right: 10px;
  /* width: 16px;
  height: 16px; */
}
